/*-----CARTA-----*/
.menu{
   background-color: white;
}
.carta{
   padding-top: 90px;
}
.carta .carta__bar{
   background-color:rgba(131, 131, 131, 0.911);
   z-index: 2;
   justify-content: center;
   align-items: center
}
.carta .navbar-brand{
   @include titles;
   color: white;
}
.carta__bar nav .nav-item{
   color: white;
   font-size: 1.8rem;
}
.carta__products{
   padding-top: 15vh;
   li{
      margin-bottom: 3rem;
      h3{
         margin-bottom: 2rem;
         font-size: 2.8rem;
         font-weight: 700;
      }
   }
}

.carta__products-info{
   justify-content: space-evenly;
   align-items: center;
   li{
      .carta__products-info-div{
         padding: 3.2rem;
         background-color: rgb(233, 232, 232);
         border-radius: 1.6rem;
         h4{
            font-size: 2.2rem;
            font-weight: 500;
         }
         span{
            font-size: 1.8rem;
         }
      }
      img{
         width: 100%;
         margin-bottom: 1.6rem;
      }
   }
}
 
.carta__products-info-div:hover{
   box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);;
}

.carta__products-info li h4{
   margin-bottom: 1.6rem;
   font-size: 2rem;
   font-weight: 500;
}
.carta__products-info li P{
   font-size: 1.5rem;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
   .carta__products-info-div{
      img{
         width: 85%;
      }
   }
}