/*-----CARTA-----*/
.menu{
   background-color: white;
}
.carta{
   padding-top: 90px;
}
.carta .carta__bar{
   background-color:rgba(131, 131, 131, 0.911);
   z-index: 2;
   justify-content: center;
   align-items: center
}
.carta .navbar-brand{
   @include titles;
   color: white;
}
.carta__bar nav .nav-item{
   color: white;
   font-size: 1.8rem;
}
.carta__products{
   padding-top: 15vh;
   width: 100%;
}
.carta__products li h3{
   font-size: 2.5rem;
   font-weight: 700;
}
.carta__products-info{
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
}
.carta__products-info li{
   margin: 3.2rem 0;
   max-width: 30%;
   padding: 3.2rem;
   background-color: rgb(233, 232, 232);
   border-radius: 1.6rem;
   text-align: center;
   overflow: hidden;
}
.carta__products-info li:hover{
   box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);;
}
.carta__products-info li img{
   width: 100%;
   margin-bottom: 1.6rem;
}
.carta__products-info li h4{
   margin-bottom: 1.6rem;
   font-size: 2rem;
   font-weight: 500;
}
.carta__products-info li P{
   font-size: 1.5rem;
}

