/*-----ENCONTRANOS-----*/

.encontranos{
   height: 100vh;
   display: grid;
   grid-template-areas: "titulo     titulo"
                        "maps       info"
                        "maps       form";
   gap: 1.6rem 3.2rem;
   justify-items: center;
   align-items: center;
   padding-top: 115px;
   margin-bottom: 3.2rem;

}
.titulo{
   grid-area: titulo;
   text-align: center;
}
.maps{
   grid-area: maps;
   width: 50%;
}

.info{
   grid-area: info;
   width: 50%;
   background-color:#cfdac8;
   text-align: center;
   padding: 1.6rem;
   border-radius: 3.2rem;

}
.form{
   grid-area: form;
   width: 50%;
   text-align: center;
}

.form h3{
  margin-bottom: 1.6rem;

}
.form form div{
   margin-bottom: 1.6rem;
   justify-content: center;

 }
 .form form div label{
    margin-bottom: 0.6rem;
 }
 .form form div input,select{
   width: 50%;
   margin: 0 auto;
 }
.buttons{
   width: 70%;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

