/*-----ENCONTRANOS-----*/

.encontranos{
   height: 100vh;
   padding-top: 130px;
}
.encontranos__info{
   justify-content: space-evenly;
   align-items: center;
}
.encontranos__info .flex-column{
   justify-content: center;
}
.titulo{
   @include titles;
}
.info {
   h3 {
   font-size: 2.5rem;
   font-weight: 500;
   }
   p{
      font-size: 1.5rem;
   }
}
.form{
   h3{
      font-size: 2.5rem;
      font-weight: 500;
   }
   label{
      font-size: 1.5rem;
   }
   button{
      font-size: 1.2rem;
      width: 25%;
      background-color: rgb(112, 206, 112);
      border-color: rgb(65, 122, 65);
   }
}

