/*-----INICIO-----*/
main{
   height: 100vh;
}
.carousel-item img{
   height: 100vh;
}

@each $arrow, $image in $arrows {
   .carousel-control-#{$arrow} {
       background-image: $image;
   }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
   width: 25px;
   height: 25px;
}
/*--reviews--*/
.reviews{
   height: 40vh;
}
.reviews div h2{
  @include titles;
  margin-bottom: 4rem;
}
.reviews .container{
   padding-top: 3rem;
}
.reviews__comments{
   justify-content: space-evenly;
   align-content: center;
   background-image: url(../img/staff/madera-edit.jpg);
   background-size:cover;
   height: 30vh;
   padding: 2rem;
   position: relative;
   bottom: 0rem;
}
.reviews__comments div{
   color: white;
   height: 60%;
   background-color: rgba(0, 0, 0, 0.37);

}
.reviews__comments div {
   h3{
      font-size: 2.5rem;
      font-weight: 700;
   }
   p{
      font-size: 1.5rem;
   }
}
/*--news--*/
.news{
   background-color: rgb(0, 0, 0);
   color: white;
}
.news .container{
   padding-top: 20rem;
}
.news div h2{
   @include titles
}
.card{
   color: black;
   overflow: hidden;
   border-radius: 1rem;
}
.card:hover{
   box-shadow: 0 5px 5px 5px rgb(104, 104, 104);;
}
.card-body{
   height: 50%;
   font-family:'Source Sans Pro', sans-serif;
}
.card-img-top{
   height: 50%;
   padding: 1.6rem;
   border-radius: 3rem;
}
.card-title{
   font-size: 2.5rem;
   font-weight: 600;
}
.card-text{
   font-size: 1.4rem;
}
.text-muted{
   font-size: 1.2rem;
}
