/*-----NOSOTROS-----*/

.nosotros{
   background-color:white ;
}

.staff__description{
   height: 120vh;
   background-color: black;
}
.staff__description .container{
   justify-content: space-between;
   align-items: center;
   margin-top: 15rem;
}
.staff__description-text{
   color: white;
   font-size: 2rem;
   width: 40%;
   justify-content: center;
}
.staff__description-text h2{
   font-size: 3rem;
   font-weight: 800;
}
.staff__description-media{
   justify-content: space-around;
}
.staff__description-media img{
   width: 45%;
   border-radius: 2rem;
}

.staff__media video{
   width: 100%; 
   position: relative;
   top: -7rem;
   box-shadow: -4px -13px 22px -5px rgba(230, 230, 230, 0.637);

}
.staff__media-text{
   padding-top: 3rem;
   font-size: 2.5rem;
   font-weight: 800;
}
.staff__media-text-span{
   color: rgb(112, 206, 112);
   font-size: 4rem;
   line-height : 4rem;
}

.partners{
   height: 100vh;
   background-image: url("../img/staff/madera-edit.jpg");
   background-size: contain;
   color: white;
   font-size: 1.4rem
}
.partners .container h2{
   @include titles;
   
}
.partners__logos{
   justify-content: space-evenly;
   align-items: center;

   
}
.partners__logos img{
   width: 50%;
   border-radius: 3rem;
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
   .staff__description{
      height: 170vh;
   }
   .staff__description-media img{
     margin-top: 2rem;
     margin-bottom: 2rem;
   }
   .staff__media-text{
      padding-top: 0;
      margin-bottom: 10rem;
   }
   .partners{
      background-image: url(../img/staff/madera-edit-media.jpg);
      background-size:cover;
   }
   .partners__logos img{
      margin-bottom: 2rem;
   }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 452px) { 
   .staff__description{
      height: 120vh;
   }
   .partners__logos img{
      width: 100%;
   }
}